## Movie data set with customers - https://www.kaggle.com/datasets/evanschreiner/netflix-movie-ratings

In [14]:
import kagglehub
import pandas as pd 
import matplotlib.pyplot as plt 
import seaborn as sns
import numpy as np 
import os 
from pyspark.sql import SparkSession

In [2]:
path = kagglehub.dataset_download("evanschreiner/netflix-movie-ratings")

print("Path to dataset files:", path)

Downloading from https://www.kaggle.com/api/v1/datasets/download/evanschreiner/netflix-movie-ratings?dataset_version_number=1...

100%|██████████| 685M/685M [1:00:50<00:00, 197kB/s]

Extracting files...

Path to dataset files: C:\Users\moham\.cache\kagglehub\datasets\evanschreiner\netflix-movie-ratings\versions\1

In [15]:
df_movies = pd.read_csv(os.path.join(path,'movies.csv'))

df_movies.head()

   MovieId  ReleaseYear                    MovieTitle
0        1       2003.0               Dinosaur Planet
1        2       2004.0    Isle of Man TT 2004 Review
2        3       1997.0                     Character
3        4       1994.0  Paula Abdul's Get Up & Dance
4        5       2004.0      The Rise and Fall of ECW

In [18]:

spark = SparkSession.builder.appName("LargeCSV").getOrCreate()
df = spark.read.csv(os.path.join(path,'Netflix_User_Ratings.csv'), header=True, inferSchema=True)

users_df = df.toPandas()

users_df.head()