In [1]:
import pandas as pd 
import matplotlib.pyplot as plt 
import numpy as np
import seaborn as sns

In [3]:
df = pd.read_csv("..//data//movies.csv")
df.head(5)

   MovieId  ReleaseYear                    MovieTitle
0        1       2003.0               Dinosaur Planet
1        2       2004.0    Isle of Man TT 2004 Review
2        3       1997.0                     Character
3        4       1994.0  Paula Abdul's Get Up & Dance
4        5       2004.0      The Rise and Fall of ECW

In [6]:
nrows, ncols = df.shape
print('# of rows: {}\n# of columns: {}'.format(nrows,ncols))

# of rows: 17770
# of columns: 3